.location {
    border-right: 5px solid #980BBF;
}

.name {
    color: #F2CC0F
}

body {
    background-color: #024059;
    color: #F2E307;
    background-image: url(/assets/images/cyberpunk.jpg);
    background-size: cover;
    background-blend-mode: multiply;
}

